body {
   margin-top: 6px;
   margin-left: 5px;
}

div.tabbar {
   width: 215px;
   height: 16px;
}

div.tabcontent {
   grid-template-columns: auto auto auto;
   width: 215px;
   height: 80px;
}

div.valuedisplay {
   width: 55px;
   text-align: right;
   font-size: 14px;
}

canvas {
   width: 215px;
   height: 40px;
}