[submodule "source/max-sdk-base"]
	path = source/max-sdk-base
	url = https://github.com/Cycling74/max-sdk-base
[submodule "source/min-api"]
	path = source/min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "source/min-lib"]
	path = source/min-lib
	url = https://github.com/Cycling74/min-lib.git 
[submodule "maxdevtools"]
	path = maxdevtools
	url = https://github.com/Ableton/maxdevtools.git
