[submodule "source/max-sdk-base"]
	path = source/max-sdk-base
	url = https://github.com/Cycling74/max-sdk-base
[submodule "maxdevtools"]
	path = maxdevtools
	url = https://github.com/Ableton/maxdevtools.git
