body {
   margin-top: 1px;
   margin-left: 1px;
}

div.title {
   width: 168px;
}

div.tabbar {
   width: 168px;
   height: 16px;
}

div.tabcontent {
   grid-template-columns: 65px 30px 65px;
   width: 168px;
   height: 160px;
}

div.valueinput {
   text-align: right;
}

div.valuecounter {
   text-align: center;
   font-weight: bold;
}

div.valueoutput {
   text-align: left;
}