div.pushbutton {
   border: 1px solid #111111;
   background: #666666;
   width: 18px;
   height: 18px;
   cursor: pointer;
}

div.pushpad {
   border: 1px solid #111111;
   background: #cccccc;
   width: 18px;
   height: 18px;
   cursor: pointer;
}

div.pushencoder {
   border: 1px solid #111111;
   background: #666666;
   width: 18px;
   height: 28px;
   cursor: pointer;
}

div.pushdirpad {
   border: 1px solid #111111;
   background: #666666;
   width: 38px;
   height: 30px;
   cursor: pointer;
}